[user]
	name = Georgi Georgiev
	email = gatanasovgeorgiev@gmail.com
	signingkey = ~/.ssh/id_ed25519.pub

[commit]
	gpgSign = true

[fetch]
	prune = true
    writeCommitGraph = true

[gpg]
	format = ssh

[init]
    defaultBranch = main

[push]
	autoSetupRemote = true

[branch]
	sort = -committerdate

[column]
	ui = auto

[core]
	fsmonitor = true

[pull]
	rebase = true

[rebase]
	autoStash = true
	updateRefs = true

[rerere]
	enabled = true

[tag]
	gpgSign = true
